{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claire's Creamery</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="icon" href="https://pixabay.com/static/uploads/photo/2014/04/03/00/39/ice-cream-308972_960_720.png">
    <link rel="stylesheet" href="{% static 'css/ice_cream.css' %}">
</head>
<body>
    <div id="page-wrap">
        <div class="page-header">
        <span>
            <h1>
                <img src="../../media/images/ICpics/icecream4.png" class="img1" alt="some ice cream" height="125px"/>
                <a href="/" class="home_title">Claire's Creamery</a>
                <img src="../../media/images/ICpics/icecream4.png" class="img2" alt="some ice cream" height="125px"/>
            </h1>
        </span>
        </div>
        <div style="margin-left: 200px">
            <div class="content container">
                <div class="row1">
                    <div class="col-md-10">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            <div class="content container">
                <div class="row2">
                    <div class="col-md-10">
                    {% block order %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>