{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claire's Creamery</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="https://pixabay.com/static/uploads/photo/2014/04/03/00/39/ice-cream-308972_960_720.png">
    <link rel="stylesheet" href="{% static 'css/ice_cream.css' %}">
</head>
<body style="min-width: 960px; margin-bottom: 25px;">
    <div id="page-wrap">
        <div class="page-header">
            <span>
                <h1>
                    <img src="../../media/images/ICpics/icecream4.png" class="header_img_left" alt="some ice cream" height="125px"/>
                    <a href="/" class="home_title">Claire's Creamery</a>
                    <img src="../../media/images/ICpics/icecream4.png" class="header_img_right" alt="some ice cream" height="125px"/>
                </h1>
            </span>
        </div>
        <div style="text-align: center">
            <h5><a class="page_link" href="/">Home</a></h5>
            <h5><a class="page_link" href="/options/flavors">Flavors</a></h5>
            <h5><a class="page_link" href="/options/toppings">Toppings</a></h5>
            <h5><a class="page_link" href="/options/containers">Containers</a></h5>
            <h5><a class="page_link" href="/order/">Order</a></h5>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <div class="contact_info" style="margin-top: 75px">
            <p style="color: dimgray; font-size: 15px; text-align: center">
                Contact us: tech@mighty.com
            </p>
        </div>
    </div>
</body>
</html>