{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claire's Creamery</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="https://pixabay.com/static/uploads/photo/2014/04/03/00/39/ice-cream-308972_960_720.png">
    <link rel="stylesheet" href="{% static 'css/ice_cream.css' %}">
</head>
<body class="base-body">
    <div id="page-wrap">
        <div class="page-header">
            <span>
                <h1>
                    <img src="{% static 'img/ice_creams/icecream4.png' %}" class="header_img_left" alt="some ice cream" height="125px"/>
                    <a href="{% url 'home_view' %}" class="home_title">Claire's Creamery</a>
                    <img src="{% static 'img/ice_creams/icecream4.png' %}" class="header_img_right" alt="some ice cream" height="125px"/>
                </h1>
            </span>
        </div>
        <div class="center-norm">
            <h5><a class="page_link" href="{% url 'home_view' %}">Home</a></h5>
            <h5><a class="page_link" href="{% url 'flavor_view' %}">Flavors</a></h5>
            <h5><a class="page_link" href="{% url 'topping_view' %}">Toppings</a></h5>
            <h5><a class="page_link" href="{% url 'container_view' %}">Containers</a></h5>
            <h5><a class="page_link" href="{% url 'order_view' %}">Order</a></h5>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <div class="contact_info">
            Contact us: tech@mighty.com
        </div>
    </div>
</body>
</html>