{% extends 'ice_cream/base.html' %}
{% load staticfiles %}

{% block content %}
    <div>
        <h4> {{ option_type_cap }}</h4>
        <h2 class="center-norm"> {{ tagline }}</h2>
        <div class="center-norm">
            {% for option in option_list %}
                <div class="option_container">
                    <span ></span><span class='centered'><img src="{{ MEDIA_URL }}{{ option.image }}"></span>
                    <h3> {{ option.name }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}