{% extends 'ice_cream/base.html' %}
{% load staticfiles %}
{% block content %}
    <div>
        <h4>Welcome to Claire's Creamery!</h4>
    </div>
    <div class="center-norm">
        <div>
            <h2> Order ice cream online without waiting in line</h2>
        </div>
        <div>
            <div>
                <a class="order-link" href="{% url 'order_view' %}">Click here to order now</a>
            </div>
            <div>
                <img class="img-top-space" src="{% static 'img/eating/eat7.gif' %}">
            </div>
        </div>
    </div>
{% endblock %}
