{% extends 'ice_cream/base.html' %}
{% load staticfiles %}
{% block content %}
    <div style="padding-top: 20px">
        <h4>Welcome to Claire's Creamery!</h4>
    </div>
    <div style="text-align: center">
        <div>
            <h2> Order ice cream online without waiting in line</h2>
        </div>

        <div>
            <p><a class="page_link" href="order/">Click here to order now</a></p>
            <img src="../../media/images/ICpics/eat7.gif"/>
        </div>
    </div>
{% endblock %}
