{% extends 'ice_cream/base.html' %}
{% load staticfiles %}
{% block content %}
    <div>
        <h2>Welcome to Claire's Creamery!</h2>
    </div>

    <div>
        <p> Order ice cream online without waiting in line</p>
    </div>

    <div>
        <p><a href="order/">Click here to order now</a></p>
    </div>
    <div>
        <h2><a href="options/flavors">Flavors</a></h2>
        <h2><a href="options/toppings">Toppings</a></h2>
        <h2><a href="options/containers">Containers</a></h2>
    </div>


{% endblock %}
