{% extends 'ice_cream/base.html' %}
{% load staticfiles %}

{% block content %}
    <div>
        {% if form.errors %}
            <div class="form-error-top">
                Incorrect or missing field. Every field is required but toppings.
            </div>
        {% endif %}
        <div>
            <h4>Order</h4>
        </div>
        <div>
            <h2 class="center-norm">Create Your Own Ice Cream</h2>
        </div>
        <div class="form-container">
            <form method="POST" class="post-form">{% csrf_token %}
                {% for field in form %}
                    <div>
                        {% if field.errors %}
                            <p class="form-error">The following field is required</p>
                        {% endif %}
                        <div class="form-field"> {{ field.label_tag }} {{ field }}</div>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="save btn btn-default">Order</button>
            </form>
        </div>
        <div class="order-img-bar">
            <img class="order-img" src="{% static 'img/eating/eat2.gif'%}" >
            <img class="order-img" src="{% static 'img/eating/eat1.gif'%}">
            <img class="order-img" src="{% static 'img/eating/eat3.gif'%}">
            <img class="order-img" src="{% static 'img/eating/eat4.gif'%}">
        </div>
    </div>
{% endblock %}

