{%  extends 'ice_cream/base.html' %}

{% block order %}

    {% if form.errors %}
        <div class="error">
            <strong>Incorrect or missing field. Every field is required but toppings.</strong>
        </div>
    {% endif %}

    <div >
        <h2>Create Your Ice Cream</h2>
    </div>

    <div>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
{% endblock %}

