{% extends 'ice_cream/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="pages_margin">
        {% if form.errors %}
            <div class="error">
                <strong>Incorrect or missing field. Every field is required but toppings.</strong>
            </div>
        {% endif %}
        <div>
            <h2 style="text-align: center; font-size: 40px">Create Your Ice Cream</h2>
        </div>
        <div>
            <form method="POST" class="post-form" style="float: left">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
            <div class="order_gifs">
                <div style="margin-bottom: 10px">
                    <img src="../../media/images/ICpics/eat2.gif" height="130 px">
                    <img src="../../media/images/ICpics/eat1.gif" height="130 px">
                </div>
                <div style="margin-bottom: 10px">
                    <img src="../../media/images/ICpics/eat3.gif" height="130 px">
                </div>
                <div style="margin-bottom: 15px">
                    <img src="../../media/images/ICpics/eat4.gif" height="200 px">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

