{%  extends 'ice_cream/base.html' %}
{% load staticfiles %}
{% block order %}
    <div >
        <h2>Success!</h2>
    </div>

    <div>
        <p> You have successfully ordered your ice cream!</p>
        <p> An email will arrive shortly with confirmation of your order.</p>
    </div>
    
    <div class="success">
        <img src="../../media/images/ICpics/goodjob.png" class="img3" alt="yay!" height="200px" />
        <img src="../../media/images/ICpics/success1.gif" class="img3" alt="yay!" height="200px" />
        <img src="../../media/images/ICpics/success2.gif" class="img3" alt="yay!" height="200px" />
        <img src="../../media/images/ICpics/success3.gif" class="img3" alt="yay!" height="200px" />
        <img src="../../media/images/ICpics/success4.gif" class="img3" alt="yay!" height="200px" />
    </div>
{% endblock %}