{% extends 'ice_cream/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="pages-margin">
        <h2 class="success-title">Success!</h2>
        <div class="success-msg">You have successfully ordered your ice cream!</div>
        <div class="success-msg">An email will arrive shortly with confirmation of your order.</div>
        <div>
            <img src="{% static 'img/success/goodjob.png' %}" class="success-image" alt="yay!"/>
            <img src="{% static 'img/success/success1.gif' %}" class="success-image" alt="yay!"/>
            <img src="{% static 'img/success/success2.gif' %}" class="success-image" alt="yay!"/>
            <img src="{% static 'img/success/success3.gif' %}" class="success-image" alt="yay!"/>
            <img src="{% static 'img/success/success4.gif' %}" class="success-image" alt="yay!"/>
            <img src="{% static 'img/success/success5.gif' %}" class="success-image" alt="yay!"/>
        </div>
    </div>
{% endblock %}