{%  extends 'ice_cream/base.html' %}
{% load staticfiles %}
{% block content %}

    <div >
        <h2>Success!</h2>
    </div>
    <div class="pages_margin">
        <div>
            <p> You have successfully ordered your ice cream!</p>
            <p> An email will arrive shortly with confirmation of your order.</p>
        </div>

        <div>
            <img src="../../media/images/ICpics/goodjob.png" class="success_image" alt="yay!" height="200px" />
            <img src="../../media/images/ICpics/success1.gif" class="success_image" alt="yay!" height="200px" />
            <img src="../../media/images/ICpics/success2.gif" class="success_image" alt="yay!" height="200px" />
            <img src="../../media/images/ICpics/success3.gif" class="success_image" alt="yay!" height="200px" />
        </div>
    </div>
    <div style="text-align: center">
        <img src="../../media/images/ICpics/success4.gif" class="success_image" alt="yay!" height="200px"/>
        <img src="../../media/images/ICpics/success5.gif" class="success_image" alt="yay!" height="200px"/>
    </div>
{% endblock %}