h1 {
    color: darkorange;
    font-style: italic;
    font-family: 'Lobster';
    text-align: center;
    font-size: 80px;
}

h2 {
    color: dimgrey;
    font-style: normal;
    font-family: Lobster;
}

p {
    font-family: "Slabo 13px";
    color: grey;
}

.img1 {
    padding-right: 15px;
}

.img2 {
    padding-left: 20px;
}

.home_title {
    color: inherit;
    text-decoration: none;
    border-style: none;
}

.home_title:hover {
    color: inherit;
    text-decoration: none;
    border-style: none;
}

.error {
    color: orangered;
    font-family: "Lobster";
    font-size: 20px;
}