body {
    text-align: center;
}

#page-wrap {
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.page-header {
    text-align: center;
}

h1 {
    color: darkorange;
    font-style: italic;
    font-family: 'Lobster';
    font-size: 80px;
}

h2 {
    color: dimgrey;
    font-style: normal;
    font-family: Lobster;
    font-size: 35px;
    width:100%;
}

h3 {
    display: inline-block;
    font-family: "Slabo 13px";
    color: grey;
    font-size: 20px;
    width:100%;
}

h4 {
    color: cornflowerblue;
    font-style: italic;
    font-family: 'Lobster';
    font-size: 60px
}

p {
    font-family: "Slabo 13px";
    color: grey;
    width:100%;
}

.img1 {
    padding-right: 15px;
}

.img2 {
    padding-left: 20px;
}

.home_title {
    color: inherit;
    text-decoration: none;
    border-style: none;
}

.home_title:hover {
    color: inherit;
    text-decoration: none;
    border-style: none;
}

.error {
    color: orangered;
    font-family: "Slabo 13px";
    font-size: 20px;
    width:100%;
}

.success {
    text-align: center;
    width:100%;
}

.img3 {
    display: inline-block;
    margin: 1em;
    padding: 20px 20px;
}